* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  /* background-color: #333; */
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* main button {
  background: transparent;
  border-radius: 10px;
} */

@media (prefers-color-scheme: dark) {
  main {
    background-color: #333;
    color: beige;
  }
}
@media (prefers-color-scheme: light) {
  main {
    background-color: beige;
    color: #333;
  }
}
